---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Head from '../components/Head.astro';
import SliderMain from '../components/SliderMain.astro';
import SliderReviws from '../components/SliderReviws.astro';
import WhatsApp from '../components/WhatsApp.astro';
import Footer from '../components/Footer.astro';

const reviews = [
  {
    imgPerfilCustomer: "../../public/images/terapeuta1.png",
    serviceCustomer: "Masaje de Tejido Profundo",
    NameCustomer: "Ana G.",
    ReviewCustomer: "Increíble experiencia en [Nombre del Spa]! El masaje de tejido profundo fue exactamente lo que necesitaba para liberar la tensión acumulada. El ambiente y el servicio son inigualables. ¡Volveré!"
  },
  {
    imgPerfilCustomer: "../../public/images/terapeuta1.png",
    serviceCustomer: "Tratamiento Facial Antienvejecimiento",
    NameCustomer: "Carlos M.",
    ReviewCustomer: "El tratamiento facial antienvejecimiento fue simplemente divino. Noté resultados inmediatos en la textura de mi piel. El personal fue amable y profesional. ¡Una joya de spa!"
  },
  {
    imgPerfilCustomer: "../../public/images/terapeuta1.png",
    serviceCustomer: "Paquete de Pareja",
    NameCustomer: "Laura y David R.",
    ReviewCustomer: "Hice una reserva para el paquete de pareja y fue una experiencia encantadora. Desde el recibimiento hasta el último detalle, [Nombre del Spa] nos brindó un día inolvidable de relajación y conexión."
  },
  {
    imgPerfilCustomer: "images/terapeuta1-png",
    serviceCustomer: "Masaje Sueco",
    NameCustomer: "Martín L.",
    ReviewCustomer: "El masaje sueco en [Nombre del Spa] superó mis expectativas. La terapeuta entendió mis necesidades y creó una experiencia personalizada. Salí renovado y con ganas de regresar. ¡Gracias!"
  }
];
const pricingData = [
    {
        title: "Masaje 1",
        imgUrl: "https://chmassagetherapy.co.uk/wp-content/uploads/2022/08/toptotoe-1024x684.jpg",
        pricing60: "$49.000",
        pricing90: "$69.000",
        pricing120: "$89.000",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    },
    {
        title: "Masaje 2",
        imgUrl: "https://www.massagesme.uk/img/blogs/the-most-popular-massages-in-london-uk.jpg",
        pricing60: "$79.000",
        pricing90: "$99.000",
        pricing120: "$119.000",
        description: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        title: "Masaje 3",
        imgUrl: "https://londonmassage4u.co.uk/wp-content/uploads/2020/11/massage-therapist-massaging-woman-min.jpg",
        pricing60: "$99.000",
        pricing90: "$119.000",
        pricing120: "$139.000",
        description: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
    },
];
---

<Layout description="Masajes" title="Welcome to Astro.">
	<Head></Head>
	<main>
		<SliderMain 
		image1='https://images.unsplash.com/photo-1682685797828-d3b2561deef4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'
		image2='https://images.unsplash.com/photo-1682685797828-d3b2561deef4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'
		image3='https://images.unsplash.com/photo-1682685797828-d3b2561deef4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'/>
		<section class="contentInfo">
			<div class="containerImg">
				<img src="images/massage-main.jpg" alt="spa en bogota - lakshmi" />
			</div>
			<h2 class="subTitle">
				Siéntete como tu mejor yo otra vez
			</h2>
			<p>
				Las exigencias de la vida diaria pueden ser muy agotadoras para su cuerpo. Por eso vale la pena cuidarlo. Las ubicaciones franquiciadas de Massage Envy te ayudarán a mantener tu cuerpo funcionando sin problemas, para que puedas correr esa media maratón o ese día completo de reuniones.
			</p>
		</section>

		<section class="contentInfo">
			<h2 class="subTitle">
				Experiencias Inolvidables, Precios Irresistibles
			</h2>
			<p>
				Sumérgete en la serenidad con nuestras experiencias de spa inolvidables. Ofrecemos tratamientos de calidad a precios irresistibles. Tu bienestar es nuestra pasión.
			</p>
			<div class="containerCards">
				<Card araryPricing={pricingData}/>
			</div>
		</section>
		<section class="contentSlideSetion">
			<h2 class="subTitle">
				Algunas reseñas de nuestros clientes
			</h2>
			<p class="text-center">
				En nuestra familia de terapeutas, cada miembro es un experto con una sólida experiencia y profundo conocimiento en diversas técnicas de masajes, tanto tradicionales como modernas. Nos comprometemos a proporcionarte un servicio excepcional.
			</p>
			<SliderReviws reviws={reviews}/>
		</section>
	</main>
	<Footer></Footer>
	<WhatsApp />
	
</Layout>

<style>

.contentSlideSetion{
	padding: 2rem;
}


.containerImg {
    margin-bottom: 15px; /* Ajusta el margen según sea necesario */
}

/* Estilos para la imagen dentro del contenedor */
.containerImg img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Borde redondeado para la imagen, ajusta según sea necesario */
}

.text-center{
	text-align: center;
}
</style>
