<footer class="footer">
    <div class="footer-container">
        <div class="footer-section siguenos">
            <a href="/">
                <h2 class="footer-heading">Siguenos</h2>
            </a>
            <div class="social-media">
                <ul class="social-media-list">
                    <li>
                        <a href="https://www.instagram.com/lakshmicentrodebienestar/" target="_blank" class="social-media-link">
                            <svg viewBox="0,0,256,256" width="50px" height="50px"><g fill="#e2cf8b" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z"></path></g></g></svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100094416027018" target="_blank" class="social-media-link">
                            <svg  viewBox="0,0,256,256" width="50px" height="50px"><g fill="#e2cf8b" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z"></path></g></g></svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/lakshmisaludspa" target="_blank" class="social-media-link">
                            <svg viewBox="0,0,256,256" width="50px" height="50px"><g fill="#e2cf8b" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M11,4c-3.866,0 -7,3.134 -7,7v28c0,3.866 3.134,7 7,7h28c3.866,0 7,-3.134 7,-7v-28c0,-3.866 -3.134,-7 -7,-7zM13.08594,13h7.9375l5.63672,8.00977l6.83984,-8.00977h2.5l-8.21094,9.61328l10.125,14.38672h-7.93555l-6.54102,-9.29297l-7.9375,9.29297h-2.5l9.30859,-10.89648zM16.91406,15l14.10742,20h3.06445l-14.10742,-20z"></path></g></g></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-footer-section">
            <div class="footer-section">
                <h3>Contactenos</h3>
                <div class="footer-links">
                    <ul class="footer-links-list">
                        <li class="footer-link-item"><a href="#" class="footer-link">
                            <svg class="icon-small"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#E2CF8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                                <path d="M3 7l9 6l9 -6" />
                              </svg>
                              <span class="text-medium">
                                  info@laskshmi.com
                              </span>
                        </a></li>
                        <li class="footer-link-item"><a href="#" class="footer-link">
                            <svg class="icon-small" viewBox="0 0 24 24" stroke-width="1.5" stroke="#E2CF8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                              </svg>
                              <span class="text-medium">
                                  3138373086
                              </span>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-section">
                <h3>Visitanos</h3>
                <div class="footer-links">
                    <ul class="footer-links-list">
                        <li class="footer-link-item">
                            <a href="#" class="footer-link">
                            <svg class="icon-small" viewBox="0 0 24 24" stroke-width="1.5" stroke="#E2CF8B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5" />
                                <path d="M9 4v13" />
                                <path d="M15 7v5.5" />
                                <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
                                <path d="M19 18v.01" />
                              </svg>
                              <span class="text-small">
                                  Calle 113 #47 a95
                              </span>
                        </a></li>
                        <li class="footer-link-item"><a href="#" class="footer-link text-sm">Barrio Alhambra,Bogota</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-copyright">©2023 Lakshmi All rights reserved.</p>
    </div>
</footer>


<style>

/* Estilos para el footer */
.footer {
    padding: 2rem;
    margin-top: 3rem;
    background-color: var(--color-vinotinto);
    color: #fff;
    padding: 20px 0;
}

/* Estilos para el contenedor del footer */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* Estilos para las secciones del footer */
.footer-section {
    margin-right: 20px; /* Ajusta el margen entre las secciones según sea necesario */
}

.footer-section h3{
    font-size: 1.5rem;
}
/* Estilos para el título "Siguenos" */
.footer-heading {
    margin-left: 5rem;
    color: #fff;
}

/* Estilos para las redes sociales */
.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    justify-content: space-around; /* Ajusta el espacio entre las redes sociales según sea necesario */
}

.social-media-link img {
    width: 30px; /* Ajusta el tamaño de las imágenes de las redes sociales según sea necesario */
}

/* Estilos para los enlaces del footer */
.footer-links-list {
    list-style: none;
    padding: 0;
}

.footer-link-item {
    margin-bottom: 10px; /* Ajusta el espacio entre los enlaces según sea necesario */
}

.footer-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

/* Estilos para el texto de copyright */
.footer-copyright {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior del texto de copyright según sea necesario */
    font-size: 17px;
    width: 100%; /* Ajusta el tamaño del texto de copyright según sea necesario */
}

.icon-small{
    margin-right: 5px;
    width: 1.8rem;
}

.siguenos{
    width: 30%;
}

.container-footer-section{
    width: 65%;
    display: flex;
}

.container-footer-section .footer-section{
    width: 45%;
}

.text-medium{
    font-size: 18px;
}
.text-small{
    font-size: 18px;
}
.text-sm{
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .footer-section{
        flex: 1;
    }
    .footer-container{
        flex-direction: column;
    }

    .siguenos{
        width: 100%;
        text-align: center;
    }
    .footer-heading{
        margin-left: 0;
        font-size: 14px;
    }

    .container-footer-section{
        width: 90%;
    }

    .container-footer-section .footer-section{
        max-width: 50%;
    }

    .icon-small{
        margin-right: 5px;
        width: 1.3rem;
    }

    .text-medium{
        font-size: 15px;
    }
    .text-small{
        font-size: 14px;
    }
    .text-sm{
        font-size: 13px;
    }
}

</style>
